<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.flixel.base</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
        <dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Configurations</key>
			<dict>
                <key>Debug</key>
                <dict>
                    <key>GCC_OPTIMIZATION_LEVEL</key>
                    <string>0</string>
                    <key>GCC_PREPROCESSOR_DEFINITIONS</key>
                    <string>DEBUG</string>
                    <key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
                    <string>NO</string>
                </dict>
                <key>Release</key>
                <dict/>
			</dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -all_load</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>$(PROJECT_DIR)/flixel-ios/Headers</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/AppDelegate.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/UIImage+RIFAddition.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/UIImage+RIFAddition.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/UIImage+RIFAddition.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/UIImage+RIFAddition.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a game based on the Flixel iOS library.</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist</string>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>Classes/UIImage+RIFAddition.h</string>
		<string>Classes/UIImage+RIFAddition.m</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
